:root{
    --pixely:'Pixelify Sans', sans-serif;
    --press-start:'Press Start 2P', sans-serif;
    --odibee:'Odibee Sans', sans-serif;
    --teko:'Teko', sans-serif;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #02111B;
}

main{
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
}

h1{
    margin-bottom: 100px;
    font-size: 3rem;
    font-family:var(--teko);
    letter-spacing: 2px;
}

#game{
    display: block;
}

.container{
    display: flex;
    flex-direction: column;
}

.game-inf-area{
    width: 800px;
    background-color: #424549;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(to bottom,#9997973f,#424549d5, #424549);
}

.inf-container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inf-container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
    width: 200px;
    height: 80px;
}

.visualizador-nome{
    font-size: 18px;
    font-weight: bold;
    letter-spacing:1.5px;
}

.visualizador-numero{
    font-size: 42px;
    font-family: var(--odibee);
}

.game-counter-area{
    width: 800px;
    height: 200px;
    background-color: #636668;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pointer-section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.init-counter{
    background-color: #636668;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: var(--press-start);
    color: #fff;
    text-shadow: 3px 0px 10px #000;
}
#area-click{
    display: none;
}
.init-counter:hover{
    background-color: #a5a9ac;
    
}
.time-container{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    padding: 10px;
}

.time-container > h3{
    font-family:var(--teko);
    font-size: 2rem;
}

.btn-container{
    display: flex;
    gap: 5px;
}
.btn-time{
    display: block;
    width: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #8f8b8b;
    color: #fff;
    font-size: 1.2rem;
    font-family: var(--odibee);
    letter-spacing: 2px;
}

.btn-time:hover{
    background-color: #fff;
    color: #000;
    transition: 0.5s ease-in-out;
}

.active{
    background-color: #FFf;
    color: #000;
}

#resultados{
    display: none;
    background-color:#424549;
    padding: 50px;
    border-radius: 30px;
}
.results-container{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.inf-resultados h2{
    font-size: 3rem;
    font-family:var(--teko);
    letter-spacing: 2px;
    text-shadow: 2px 1px 10px #0e0e0e4f;
}

.inf-resultados p {
    font-size: 3rem;
    font-family: var(--odibee);
    
}

.restart-question{
    font-size: 2rem;
    font-family: var(--teko);
}

.jogar-novamente{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.restart-button{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #9da5af;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    border: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.restart-button:hover{
    background-color: #ced8e6;
    transform: scale(1.2);

}
   

@media (max-width:500px){
    .game-inf-area{
        width: 350px;
    }

    .visualizador-nome{
        font-size: 14px;
        font-weight: bold;
        letter-spacing:1.5px;
    }
    
    .visualizador-numero{
        font-size: 30px;
        font-family: var(--odibee);
    }

    .game-counter-area{
        width: 350px;
    }
    .time-container{
        align-self: center;
    }
}

@media (min-width: 500px) and (max-width:850px){
    .game-inf-area{
        width: 450px;
    }
    
    .game-counter-area{
        width: 450px;
    }
}
